html{
    box-sizing: border-box;
}
html * ,::after, ::before{
    box-sizing:inherit;
}
ul{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    font-family: 'Poppins';
    display: block;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
button{
    cursor: pointer;
}
.nav{
    display: none;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.logo{
    color: #000000;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;

}
.logo span{
    color: #939393;
}
.about-768{
    display: none;
    margin: 0;
    font-weight: 600;
    font-size: 24px;
}

.btn{
    position: absolute;
    top: 46px;
    right: 16px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 31px;
    margin-left: 167px;
    margin-right: 100px;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #263238;
}
.lets{
    box-sizing: border-box;
    display: block;
    width: 160px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    padding: 11px 40px 11px 40px;
    border: 2px solid #263238;
    border-radius: 5px;
    color: #000000;
}
.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .vis{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
  }
  .modal{
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding-top: 25px;
    padding-right: 7px;
    padding-left: 15px;
    overflow: scroll;
  }
  .no-scroll{
    position: fixed;
  }
  .modal-back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 34, 47, 0.7);
    overflow: scroll;
  }
.modal-logo {
    display: block;
    color: #939393;
    width: 70px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 46px;
}
.modal-btn {
    position: absolute;
    top: 0;
    right: 7px;
    background-color: transparent;
    border: transparent;
}
.modal-nav-menu {
    margin-bottom: 69px;
}
.modal-nav-link {
    font-weight: 500;
    font-size: 22px;
    line-height: 2.95;
    color: #263238;
}
.modal-nav::before{
    display: block;
    content: " ";
    background-color: #939393;
    height: 1px;

}
.cross{
    display: block;
}
.all-users{
    margin-top: 30px;
}

.modal-lets {
    box-sizing: border-box;
    display: block;
    max-width: 291px;
    min-height: 65px;
    padding: 17px 99px 18px;
    border: 2px solid #263238;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
}
.modal-logo span{
    color: black;
}
.container {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 320px;
    padding-left: 14px;
    padding-right: 16px;
    padding-top: 36px;
    margin: 0 auto;
}
.hero{
    padding-top: 36px;
}
.hero-container{
    align-items: center;
    position: relative;
    max-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.learnb{
    text-align: center;
    font-weight: 600;
font-size: 24px;
line-height: 1.6;
margin-left:40px ;
margin-right: 40px;

}
.learnb span{
    display: inline;
}
.promo {
    font-weight: 400;
    font-size: 14px;
text-align: center;
margin-left: 4px;
margin-right: 4px;
margin-top: 20px;
margin-bottom: 33px;
color: #8F95A5;

}
.learnb::after{
    content: "";
    display: none;
    background: url(./images/light.svg);
    height: 51px;
    width: 51px;
    fill: #000000;
}
.strtbtn {
    border: none;
    font-weight: 500;
    font-size: 16px;
    padding: 18px 99px;
    color: #FFFFFF;
    background: #263238;
    border-radius: 5px;
    margin: 0 4px 0 10px;
}
/*info*/
.skill{
    padding-top: 53px ;
    padding-bottom: 50px;
}
.info-container {
    max-width: 320px;
    padding:0 15px ;
    margin: 0 auto 0;
}
.skill-element{
    position: relative;
    width: 290px;
    margin-top:21px ;
    background-color: #F5F5F5;
}
.bro {
    fill: #263238;
    display: block;
    width: 213px;
    height: 213px;
    margin: 0 auto;
}
.type-svg{
    width: 204px;
    height: 204px;
}
.reading-svg{
    width: 237px;
    height: 157px;
}
.hear{
    width: 232px;
    height: 154px;
}
.speak-title {
    font-weight: 600;
font-size: 18px;
margin-left: 13px;
margin-bottom: 18px;
margin-top: 43px;
}

.speak-btn {
    padding: 14px 43px;
    border: none;
    background-color: #263238;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
margin-left: 16px;
margin-bottom:44px ;
}
.skill-btn{
    padding: 14px 43px;
    border: none;
    background-color: #263238;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
margin-left: 16px;
margin-bottom:44px ;
border-radius: 5px;
}
.skil{
    display: block;
    margin: 0 auto;
    font-weight: 600;
font-size: 24px;
width: 62px;
height: 80px;
}
.modal-cont{
    max-width: 320px;
    position: relative;
}
.promo-write{
    font-weight: 400;
font-size: 13px;
color: #8F95A5;
margin-bottom:32px ;
margin-left: 16px;
}
.promo-type{
    font-weight: 400;
font-size: 13px;
color: #8F95A5;
margin-bottom:30px ;
margin-left: 16px;
}
.about-us{
    padding-bottom: 84px;
}
.buss-container{
    max-width: 320px;
    padding-left: 16px;
    padding-right: 9px;
    margin: 0 auto;
    text-align: center;
}
.buss-svg{
    margin-top: 24px;
    width: 283px;
    height: 283px;
}
.about{
    margin: 0;
    font-weight: 600;
font-size: 24px;
}
.promo-line{
    font-weight: 400;
font-size: 13px;
color: #8F95A5;
margin-top: 23px;
}
.count + .count{
    margin-top: 23px;
}
.footer-element:hover{
    cursor: pointer;
    color:rgb(64, 109, 180) ;
}
.count{
    font-weight: 400;
font-size: 15px;
color: #8F95A5;

}
.count span{
    display: block;
    font-weight: 600;
font-size: 24px;
color: #2A3246;
}
.price-container{
    max-width: 320px;
    padding: 0 19px;
    margin: 0 auto 0;
}

.price-title{
    width: 85px;
    font-weight: 600;
    font-size: 24px;
    margin: 0 auto 49px;
}
.price-lst{
    text-align: center;
}
.price-svg{
    display: block;
    margin: 0 auto;
    width: 248px;
    height: 248px;
    margin-bottom: 28px;
}
.price-disc{
    font-weight: 600;
    font-size: 18px;
    color: #263238;
}
.price-promo{
    font-size: 13px;
line-height: 20px;
color: #8F95A5;
margin: 17px auto 0;
}
.price-btn{
    margin: 33px auto 0;
    display: block;
    width: 170px;
    background: #EEEEEE;
border-radius: 5px;
color: #546269;
padding: 7px 15px 9px 12px;
font-weight: 400;
font-size: 14px;
border: none;


}
.price-element{
    margin: 0 auto;
}
.price-btn span{
    font-weight: 400;
font-size: 18px;
color: #263238;
margin-right: 12px;
}
.lesson-svg{
    display: block;
    margin-bottom: 17px;
    width: 257px;
    height: 197px;
    margin: 0 auto 12px;
}
.lesson-promo{
    margin-top: 17px;
}
.web-svg{
    display: block;
    width: 241px;
    height: 241px;
    margin: 0 auto 7px;
}
.web-promo{
    margin-top: 30px;
}
.price-element + .price-element{
    margin-top: 70px;
}
.footer-container{
    max-width: 320px;
    padding:0 11px 48px 15px ;
    margin: 0 auto;

}
.footer-container::before{
    display: block;
    content: " ";
    height: 1px;
    background-color: #939393;
    
}
.footer-logo{
    display: block;
    width: 71px;
    margin: 25px auto 15px;
    color: #000000;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;

}
.footer-logo span{
    color: #939393;
}
.footer-lst{
    display: flex;
    gap: 10px;
}
.footer-element{
    color: #8F95A5;
    font-weight: 500;
    font-size: 11px;
}
.element-with{
    position: relative;
}
.element-with::before{
    display: block;
    content: " ";
    width: 5px;
    height: 5px;
    background-color: #939393;
    position: absolute;
    transform: translate(-130%,120%);
    border-radius: 5px;
}
.contact{
    padding-top: 72px;
    padding-bottom: 55px;
}
.contact-container {
    max-width: 320px;
    padding: 0 14px 0 15px;
    margin: 0 auto ;
    text-align: center;
}
.contact-title{
    display: block;
    width: 135px;
    font-weight: 600;
font-size: 24px;
margin: 0 auto;

}
.title-768{
    display: none;
    width: 135px;
    font-weight: 600;
font-size: 24px;
margin: 0 auto;
}
.contact-svg {
    display: block;
    width: 253px;
    height: 228px;
    margin: 38px auto ;
}
.content-promo {
    display: block;
    width: 287px;
    padding: 0 2px;
    font-weight: 400;
    font-size: 14px;
    color: #8F95A5;
    margin: 0 auto 31px;
}
.contact-email {
    width: 291px;
    height: 50px;
    border: 1px solid #8F95A5;
    border-radius: 5px;
    padding: 16px 162px 16px 26px;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 17px;
}
.contact-btn {
    width: 290px;
    height: 60px;
    background: #263238;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;

}
.burger{
    display: block;
}
@media screen and (min-width:575px){
    .element-with::before{
        display: block;
        content: " ";
        width: 5px;
        height: 5px;
        background-color: #939393;
        position: absolute;
        transform: translate(-130%,110%);
        border-radius: 5px;
    }
    .about-us{
        padding-bottom: 130px;
    }
    .pict{
        margin-left: 25px;
    }
    .buss-container{
        max-width: 575px;
        padding: 0 33px 0 32px;
    }
    .about{
        font-weight: 600;
font-size: 30px;
    }
    .buss-svg{
        width: 352px;
height: 352px;
    }
    .promo-line{
        margin-top: 25px;
        font-weight: 400;
font-size: 14px;
    }
    .all-users{
        display: flex;
        gap: 75px;
        padding-left: 53px;
        align-items: baseline;
    }
    .container{
        max-width: 575px;
        padding-left: 32px;
        padding-right: 50px;
        padding-top: 39px;
    }
    .burger{
        width: 42px;
        height: 24px;
    }
    .hero-container{
        max-width: 575px;
        padding-left: 42px;
        padding-right: 42px;  
    }
    .skill-element{
        width: 240px;
    }
    
    .skill-lst{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .skill-btn{
        margin-bottom: 36px;
        padding: 14px 56px;
    }
    .bro{
        width: 185px;
        height: 185px;
    }
    .type-svg{
        width: 182px;
        height: 182px;
    }
    .promo-write{
        margin-bottom: 24px;
        width: 173px;
    }
    .promo-575{
        width: 180px;
    }
    .promo-listen{
        width: 181px;
    }
    .promo-speak{
        width: 181px;
    }
    .type-btn{
        margin-top: 110px;
    }
    .reading-svg{
        width: 198px;
        height: 132px;
    }
    .hear{
        width: 206px;
        height: 137px;
    }
    .speak-btn{
        margin-bottom: 36px;
        padding: 14px 56px;
    }
    .lenpic{
        width: 424px;
        height: 424px;
        margin: 0 36px;
    }
    .learnb{
        width: 491px;
        font-weight: 600;
        font-size: 34px;
        margin: 0;
    }
    .promo{
        margin-top:26px ;
        font-size: 16px;
        width: 486px;
        margin-bottom: 0;
    }
    .speak-title{
        margin-top: 18px;
        margin-bottom: 18px;
    }
    .strtbtn{
        font-size: 18px;
        padding: 24px 101px;
        margin: 0 93px;
        margin-top: 37px;
        width: 305px;
    }
    .skill{
        padding-top: 96px ;
        padding-bottom: 84px;
    }
    .info-container{
        max-width: 575px;
        padding: 0 32px;
    }
    .btn{
        top: 50px;
        right: 50px;
    }
    .logo, .modal-logo{
        font-size: 30px;
    }
    .burger{
        width: 42px;
        height: 24px;
    }
    .modal {
        padding-top: 48px;
        padding-right: 32px;
        padding-left: 33px;
        padding-bottom: 20px;
    }
    .modal-cont{
        max-width: 510px;
    }
    .modal-btn{
        transform: translateY(5%);
    }
    .cross{
        width: 39px;
        height: 39px;
    }
    .modal-nav-menu {
        margin-top: 35px;
    }
    .modal-lets{
        max-width: 330px;
        height: 70px;
        font-size: 22px;
        padding: 18px 114px 18px 115px;
    }
    .price-container{
        max-width: 575px;
        padding: 0 22px 0 38px;
        
    }
    .skil{
        width: 78px;
        height: 101px;
        font-weight: 600;
        font-size: 30px;
    }
    .price-title{
        width: 106px;
        font-weight: 600;
font-size: 30px;
margin-bottom: 54px;
    }
    .price-svg{
        width: 291px;
        height: 291px;
        margin-bottom: 29px;
    }
    .lesson-svg{
        width: 314px;
        height: 241px;
        margin-bottom: 21px;
    }
    .web-svg{
        width: 253px;
height: 253px;
margin-bottom: 15px;
    }
    .price-disc{
        font-weight: 600;
font-size: 24px;
    }
    .price-promo{
        font-weight: 400;
font-size: 14px;
width: 394px;
margin-top: 23px;
    }
    .price-btn{
        width: 205px;
        padding: 10px 23px 11px 12px;
        font-weight: 400;
font-size: 16px;
margin-top: 31px;
    }
    .price-btn span{
        font-weight: 400;
font-size: 22px;
    }
    .lesson-promo{
        width: 329px;
    }
    .footer-container{
        max-width: 575px;
        padding: 30px 26px 32px;
    }
    .footer-disc{
        margin-top: 24px;
        display: flex;
        gap: 104px;
        align-items: center;
    }
    .footer-logo{
        font-weight: 400;
        font-size: 30px;
        margin: 0;
        width: 89px;
    }
    .footer-element{
        font-weight: 500;
        font-size: 12px;
    }
    .footer-container::before{
        display: block;
        height: 1px;
    }
    .contact{
        padding: 163px 0 144px;
    }
    .contact-container{
        max-width: 575px;
        padding: 0 30px 0 33px;
    }
    .contact-title{
        font-weight: 600;
        font-size: 30px;
        width: 169px;
    }
    .contact-svg{
        width: 358px;
        height: 322px;
        margin-top: 83px;
        margin-bottom: 34px;
    }
    .content-promo{
        font-weight: 400;
        font-size: 16px;
        width: 473px;
        margin-bottom: 60px;
    }
    .contact-lst{
        margin: 0 auto;
        display:   flex;
    }
    .contact-email{
        width: 305px;
        height: 60px;
        padding: 20px 32px;
        margin: 0;
    }
    .contact-btn{
        width: 193px;
        height: 60px;
        padding: 21px 56px 15px;
    }
    .count{
        font-weight: 400;
        font-size: 14px;
    }
    .count span{
        font-weight: 600;
        font-size: 24px;
    }
}
@media screen and (min-width:768px){
    .element-with::before{
        display: block;
        content: " ";
        width: 5px;
        height: 5px;
        background-color: #939393;
        position: absolute;
        transform: translate(-130%,140%);
        border-radius: 5px;
    }
    .about-us{
        padding-bottom: 93px;
    }
    .buss-container{
        max-width: 768px;
        padding: 0 35px 0 39px;
    }
    .bussines{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 78px;
    }
    .about-768{
        display: block;
        text-align: left;
        font-weight: 600;
        font-size: 30px;    
    }
    .about{
        display: none;
    }
    .promo-line{
        width: 321px;
        font-weight: 400;
font-size: 14px;
text-align: left;
margin-top: 10px;
    }
    .all-users{
        padding: 0;
        gap: 46px;
    }
    .buss-svg{
        width: 295px;
        height: 295px;
        margin: 0;
    }
    .count{
        font-weight: 400;
        font-size: 13px;
    }
    .count span{
        font-weight: 600;
        font-size: 22px;
    }
    .container{
        max-width: 768px;
        padding-left: 39px;
        padding-right: 39px;
        padding-top: 39px;
    }
    .pict{
        margin: 0;
    }
    .hero-container{
        display: flex;
        gap: 20px;
        flex-direction: row-reverse;
        max-width: 768px;
        padding-left: 39px;
        padding-right: 17px;
    }
    .burger{
        width: 30px;
        height: 19px;
    }
    .lenpic{
        width: 352px;
        height: 352px;
        margin: 0 0 36px;
    }
    .learnb{
        margin-top: 28px;
        font-weight: 600;
        font-size: 36px;
        width: 217px;
        height: 135px;
        line-height: 1.2;
        text-align: left;
    }
    .learnb span{
        display: block;
    }
    .learnb::after{
        position: absolute;
        display: block;
        width: 51px;
        height: 51px;
        transform: translate(420%, -140%);
    }
    .promo{
        margin-top: 25px; 
        margin-bottom: 0;
        width: 338px;
        margin-left: 0;
        text-align: left;
    }
    .strtbtn{
        width: 236px;
        margin: 0;
        font-weight: 400;
        padding: 19px 67px;
        margin-top: 32px;
    }
    .skill{
        padding-top: 56px ;
        padding-bottom: 52px;
    }
    .info-container{
        max-width: 768px;
        padding: 0 39px 0 31px;
    }
    .skill-lst{
        display: grid;
        grid-template-columns:2fr 1fr 1fr ;
        gap: 10px;

    }
    .write{
        height: 662px;
        grid-column-start:1 ;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .hear{
        width: 202px;
        height: 134px;
    }
    .speak{

        height: 441px;
        width: 227px;
    }
    .skill-btn{
        margin: 0;
        padding: 14px 42px;
        margin-bottom: 37px;
        
    }

    .promo-write{
        line-height: 1.6;
        font-weight: 400;
        margin-bottom: 13px;
        font-weight: 400;
        font-size: 13px;
        width: 188px;
    
    }
    .write-title{
        margin-top: 0;
    }
    
    .promo-write + .promo-write{
        margin-top: 28px;
        margin-bottom: 0;
    }
    .write-title{
        margin-top:0 ;
        margin-bottom: 24px;
    }
    .read-title{
        margin-top: 34px;
        margin-bottom: 24px;
    }
    .spk-title{
        margin-top: 34px;
        margin-bottom: 15px;
    }
    .listen-title{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .promo-listen{
        width: 250px;
        margin-left:5px ;
        height: 69px;
    }
    .wrt-btn{
        margin-top: 34px;
    }
    .bro{
        width: 214px;
        height: 214px;
    }
    .type-svg{
        width: 200px;
        height: 200px;
    }
    .reading-svg{
        width: 216px;
        height: 144px;
        margin-top: 20px;
    }
    .hear{
        width: 202px;
        height: 134px;
        margin-top: 59px;
        
    }
    .listen{
        margin-top: 0;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 462px;
        height: 210px;
        display: flex;
        flex-direction: row-reverse;
    }
    .speak-title{
        font-weight: 600;
        font-size: 20px;
    }
    .btn{
        top: 53px;
        right: 39px;
    }
    .modal {
        width: 429px;
        padding-top: 39px;
        padding-right: 39px;
        padding-left: 26px;
        padding-bottom: 30px;
    }
    .modal-nav-menu{
        margin-bottom: 80px;
    }
    .modal-cont{
        width: 364px;
    }
    .modal-btn{
        transform: translateX(8%);
    }
    .skill-btn{
        margin-left: 17px;
    }
    .speak-title{
        margin-left: 13px;
    }
    .listen-title{
        margin-left: 3px;
    }
    .btn-listn{
        margin-left: 3px;
    }
    .price-container{
        max-width: 768px;
        padding: 0 38px 0 25px;
       
    }
    .price-lst{

        align-items: last baseline;
        display: flex;
    }
    .price-svg{
        margin-left: 0;
        width: 197px;
        height: 197px;
        margin-bottom: 23px;
    }
    .lesson-svg{
        margin-left: 0;
        width: 219px;
        height: 168px;
        margin-bottom: 23px;
    }
    .web-svg{
        margin-left: 0;
        width: 210px;
        height: 210px;
        margin-bottom: 15px;
    }
    .price-disc{
        text-align: left;
        width: 174px;
    }
    .skil{
        font-weight: 600;
        font-size: 30px;
        width: 78px;
    }
    .price-title{
        
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 26px;
    }
    .price-promo{
        margin-left: 0;
        text-align: left;
        font-weight: 400;
        font-size: 14px;
        width: 194px;
        margin-top: 40px ;
    }
    .lesson-promo{
        width: 209px;
    }
    .web-promo{
        width: 227px;
    }
    .price-element + .price-element{
        margin-top: 0;
    }
    .price-btn{
        margin-left:0 ;
        font-weight: 400;
font-size: 16px;
margin-top: 23px;
    }
    .les-btn{
        margin-top: 44px;
    }
    .btn-web{
        margin-top: 49px;
    }
    .les-disc{
        margin-top: 23px;
    }
    .footer-container{
        max-width: 768px;
        padding: 0 39px 15px;
    }
    .footer-logo{
        font-weight: 400;
        font-size: 30px;
    }
    .footer-element{
        font-weight: 400;
        font-size: 13px;
    }
    .footer-disc{
        gap: 261px;
    }
    .contact{
        padding-top: 65px;
        padding-bottom: 141px;
    }
    .contact-container{
        max-width: 768px;
        padding: 0 26px;
        display: flex;
        align-items: center;
        gap: 38px;
    }
    .contact-title{
        display: none;
    }
    .title-768{
        display: block;
        font-weight: 600;
        font-size: 30px;
        width: 169px;
        margin-left: 0;
    }
    .contact-svg{
        margin: 0;
        width: 233px;
        height: 210px;
    }
    .content-promo{
        font-weight: 400;
        font-size: 14px;
        text-align: left;
        margin-left: 0;
        width: 392px;
        margin-bottom:26PX ;
    }
    .contact-email{
        width: 283px;
        height: 50px;
        font-weight: 400;
        font-size: 12px;
        padding: 16px 24px;
    }
    .contact-lst{
        gap: 6px;
    }
    .contact-btn{
        width: 145px;
        height: 50px;
        font-weight: 500;
        font-size: 13px;
        padding: 15px 39px 15px 40px;
    }
}
@media screen and (min-width:992px){
    .element-with::before{
        display: block;
        content: " ";
        width: 5px;
        height: 5px;
        background-color: #939393;
        position: absolute;
        transform: translate(-130%,180%);
        border-radius: 5px;
    }
    .about-us{
        padding-bottom: 125px;
    }
    .buss-container{
        max-width: 992px;
        padding: 0 31px 0 22px;
    }
    .bussines{
        gap: 57px;
    }
    .about-768{
        font-weight: 600;
        font-size: 36px;
        margin-bottom: 0;
    }
    .promo-line{
        font-weight: 400;
font-size: 16px;
width: 546px;
margin-top: 35px;
    }
    .buss-svg{
        width: 336px;
        height: 336px;
    }
    .all-users{
        gap: 62px;
        margin-top:30px ;
    }
    .container{
        max-width: 992px;
        padding-left: 31px;
        padding-right: 31px;
        padding-top: 25px;
    }
    .count{
        font-weight: 400;
        font-size: 16px;
    }
    .count span{
        font-weight: 600;
        font-size: 30px;
    }
    .hero-container{
        gap: 57px;
        max-width: 992px;
        padding-left: 30px;
        padding-right:20px ;
    }
    .lenpic{
        width: 460px;
        height: 460px;
        margin: 0;
    }
    .learnb{
        font-weight: 600;
        font-size: 48px;
        width: 290px;
        height: 192px;
    }
    .learnb::after{
        width: 59px;
        height: 59px;
        transform: translate(530%, -150%);
    }
    .promo{
        width: 421px;
        font-size: 20px;
    }
    .strtbtn{
        width: 292px;
        height: 80px;
        font-size: 24px;
        padding: 27px 78px;
        margin-top: 55px;
    }
    .btn{
        display: none;
    }
    .nav{
        display: flex;
    }
    .skill{
        padding-top: 47px ;
        padding-bottom: 106px;
    }
    .info-container{
        max-width: 992px;
        padding: 0 26px 0 32px;
    }
    .skill-lst{
        gap: 13px;
    }
    .write{
        width: 303px;
        height: 696px;
    }
    .speak-title{
        font-weight: 600;
        font-size: 22px;
        margin-left: 28px;
    }
    .speak{
        width: 302px;
        height: 441px;
    }
    .listen{
        width: 616px;
        height: 241px;
    }
    .skill-btn{
        width: 196px;
        padding: 17px 42px 19px 41px;
        font-weight: 500;
        font-size: 18px;
        margin-left:28px ;
        margin-bottom: 15px;
    }
    .speak-title{
        margin-left: 28px;
        margin-bottom: 25px;
        font-weight: 600;
        font-size: 22px;
    }
    .promo-write{
        margin-left: 28px;
        width: 226px;
        margin-bottom: 26px;
    }
    .write-title{
        margin-bottom: 25px;
    }
    .read-title{
        margin-top: 12px;
        margin-bottom: 25px;
    }
    .promo-write + .promo-write{
        margin-top: 32px;
    }
    .listen-title{
        font-weight: 600;
        font-size: 22px;
        margin-left: 28px;
    }
    .btn-listn{
        margin-left: 28px;
    }
    .bro{
        width: 260px;
        height: 260px;
    }
    .type-svg{
        width: 205px;
        height: 205px;
    }
    .reading-svg{
        width: 243px;
        height: 162px;
    }
    .hear{
        width: 253px;
        height: 169px;
    }
    .price-container{
        max-width: 992px;
        padding: 0 25px 0 32px;
    }
    .price-lst{
        gap: 0;
    }
    .price-svg{
        width: 222px;
        height: 222px;
        margin-bottom: 20px;
    }
    .lesson-svg{
        width: 267px;
        height: 195px;
        margin-bottom: 15px;
    }
    .web-svg{
        width: 242px;
        height: 242px;
        margin-bottom: 5px;
    }
    .price-title{
        width: 126px;
        font-weight: 600;
        font-size: 36px;
    }
    .skil{
        width: 93px;
        font-weight: 600;
        font-size: 36px;
    }
    .price-disc{
        font-weight: 600;
        font-size: 22px;
        width: 274px;
    }
    .price-promo{
        font-weight: 400;
font-size: 16px;
width: 293px;
margin-top: 14px;
    }
    .web-promo{
        width: 273px;
    }
    .price-btn{
        width: 205px;
        font-weight: 400;
        font-size: 16px;
        margin-top: 31px;
        
    }
    .price-btn span{
        font-weight: 400;
        font-size: 24px;
    }
    .les-btn{
        margin-top: 52px;
    }
    .btn-web{
        margin-top: 34px;
    }
    .footer-container{
        max-width: 992px;
        padding: 0 31px 26px 32px;
    }
    .footer-logo{
        font-weight: 400;
        font-size: 30px;
    }
    .footer-element{
        font-weight: 400;
        font-size: 16px;
    }
    .footer-disc{
        margin-top: 22px;
        gap: 422px;
    }
    .contact{
        padding-top: 146px;
        padding-bottom: 157px;
    }
    .contact-container{
        max-width: 992px;
        padding: 0 28px 0 16px;
        gap: 104px;
    }
    .title-768{
        width: 202px;
        font-weight: 600;
        font-size: 36px;
    }
    .content-promo{
        font-weight: 400;
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 34px;
        width: 420px;
    }
    .contact-svg{
        width: 312px;
        height: 281px;
    }
    .contact-email{
        width: 323px;
        font-weight: 400;
        font-size: 14px;
        padding: 23px 38px 16px;
    }
    .contact-btn{
        width: 193px;
        font-weight: 500;
        font-size: 16px;
        padding: 21x 56px 15px;
    }
    .contact-lst{
        gap: 14px;
    }
}

@media screen and (min-width:1600px){
    .about-us{
        padding-bottom: 180px;
    }
    .buss-container{
        max-width: 1600px;
        padding: 0 130px;
    }
    .bussines{
        gap: 137px;
    }
    .about-768{
        font-weight: 600;
        font-size: 48px;
    }
    .promo-line{
        font-weight: 400;
font-size: 20px;
width: 652px;
margin-top:30px ;
    }
    .buss-svg{
        width: 540px;
        height: 540px;
    }
    .all-users{
        margin-top: 30px;
        gap: 142px;
        padding-left: 50px;
    }
    .count{
        font-weight: 400;
        font-size: 20px;
    }
    .count span{
        font-weight: 600;
font-size: 48px;
    }
    .container{
        max-width: 1600px;
        padding-right: 131px;
        padding-left: 131px;
        padding-top: 55px;
    }
    .hero-container{
        max-width: 1600px;
        padding: 0 131px;
        gap: 145px;
    }
    .lenpic{
        width: 654px;
        height: 510px;
    }
    .learnb{
        font-size: 64px;
        width: 386px;
        height: 240px;
        margin: 0;
    }
    .learnb::after{
        width: 85px;
        height: 85px;
        transform: translate(500%,-150%);
    }
    .promo{
        width: 540px;
        height: 108px;
        font-size: 24px;
    }
    .strtbtn{
        width: 426px;
        height: 100px;
        font-size: 36px;
        padding: 23px 102px;
    }
    .nav-menu {
        gap: 50px;
        margin-left: 236px;
        margin-right: 121px;
    }
    .logo{
        font-size: 36px;
    }
    .nav-link{
        font-size: 20px;
    }
    .lets{
        display: block;
        width: 312px;
        height: 70px;
        padding: 20px 56px;
        border-radius: 10px;
        font-size: 20px;
    }
    .skill{
        padding-top: 180px ;
        padding-bottom: 180px;
    }
    .info-container{
        max-width: 1600px;
        padding: 0 131px;
    }
    .skill-lst{
        gap: 30px;
    }
    .write{
        width: 426px;
        height: 947px;
    }
    .speak-title{
        width: 144px;
        height: 45px;
        margin-left: 18px;
        margin-top: 24px;
    }
    .promo-write{
        line-height: 1.8;
        font-weight: 400;
font-size: 16px;
width: 354px;
margin-left: 18px;
margin-top: 20px;
    }
    .skill-btn{
        width: 230px;
        height: 60px;
        padding: 16px 43px;
        font-weight: 500;
        font-size: 18px;
        margin-left: 18px;
        margin-top: 30px;
    }
    .speak{
        width: 426px;
height: 579px;
    }
    .listen{
        width: 882px;
height: 338px;
    }
    .bro{
        width: 390px;
        height: 390px;
    }
    .type-svg{
        width: 390px;
        height: 264px;
    }
    .reading-svg{
        width: 390px;
        height: 264px;
        margin-top: 23px;
    }
    .hear{
        width: 408px;
        height: 274px;
    }
    .speak-title{
        font-weight: 600;
        font-size: 30px;
        margin-top: 24px;
        margin-bottom: 20px;
    }
    .promo-write{
        font-weight: 400;
        font-size: 16px;
        width: 340px;
    }
    .read-title{
        margin-top: 0;
    }
    .price-container{
        max-width: 1600px;
        padding: 0 131px;
    }
    .promo-read{
        width: 354px;
    }
    .promo-speak{
        width: 354px;
    }
    .price-svg{
        width: 426px;
        height: 320px;
        margin-bottom: 31px;
    }
    .lesson-svg{
        width: 426px;
        height: 320px;
        margin-bottom: 31px;
    }
    .web-svg{
        width: 426px;
        height: 320px;
        margin-bottom: 31px;
    }
    .skil{
        width: 124px;
        font-weight: 600;
        font-size: 48px;
    }
    .price-title{
        width: 169px;
        font-weight: 600;
        font-size: 48px;
        margin-bottom: 60px;
    }
    .price-lst{
        gap: 30px;
    }
    .price-disc{
        font-weight: 600;
        font-size: 30px;
        width: 383px;
    }
    .price-promo{
        font-weight: 400;
        font-size: 20px;
        margin-top: 20px;
        width: 420px;
        line-height: 1.8;
    }
    .web-promo{
        width: 426px;
    }
    .price-btn{
        width: 260px;
        font-weight: 400;
        font-size: 18px;
        padding: 11px 23px 7px;
        margin-top: 30px;
    }
    .price-btn span{
        font-weight: 400;
        font-size: 24px;
    }
    .les-btn{
        margin-top: 67px;
    }
    .btn-web{
        margin-top: 68px;
    }  
    .footer-container{
        max-width: 1600px;
        padding: 0 131px 55px;
    }
    .footer-logo{
        font-weight: 400;
        font-size: 36px;
    }
    .footer-element{
        font-weight: 400;
        font-size: 24px;
    }
    .footer-disc{
        gap: 463px;
    }
    .footer-lst{
        gap: 80px;
    }
    .element-with::before{
        display: none;
    }
    .contact{
        padding-top: 180px;
        padding-bottom: 55px;
    }
    .contact-container{
        max-width: 1600px;
        padding: 0 131px 0 132px;
        gap: 144px;
    }
    .title-768{
        font-weight: 600;
        font-size: 48px;
        width: 269px;
    }
    .content-promo{
        font-weight: 400;
        font-size: 20px;
        width: 654px;
        margin-top: 60px;
        margin-bottom: 30px;
    }
    .contact-svg{
        width: 425px;
        height: 430px;
    }
    .contact-email{
        width: 425px;
        height: 70px;
        font-weight: 400;
        font-size: 16px;
        padding: 20px 30px;
    }
    .contact-btn{
        width: 312px;
        height: 70px;
        font-weight: 500;
        font-size: 20px;
        padding: 20px 56px;
    }
    .contact-lst{
        gap: 30px;
    }

}