html{
    box-sizing: border-box;
}
html * ,::after, ::before{
    box-sizing:inherit;
}
ul{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    font-family: 'Poppins';
    display: block;
}

.nav{
    display: none;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.logo{
    color: #000000;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;

}
.logo span{
    color: #939393;
}

.btn{
    position: absolute;
    top: 46px;
    right: 16px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 31px;
    margin-left: 167px;
    margin-right: 100px;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #263238;
}
.lets{
    box-sizing: border-box;
    display: block;
    width: 160px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    padding: 11px 40px 11px 40px;
    border: 2px solid #263238;
    border-radius: 5px;
    color: #000000;
}
.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .modal{
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding-top: 25px;
    padding-right: 7px;
    padding-left: 15px;
  }
  .modal-back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
.modal-logo {
    display: block;
    color: #939393;
    padding-bottom: 20px;
    border-bottom: 1px solid #C4C4C4;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
}
.modal-btn {
    position: absolute;
    top: 25px;
    right: 7px;
    background-color: transparent;
    border: transparent;
}
.modal-nav-menu {
    margin-bottom: 69px;
    margin-top: 46px;
}
.modal-nav-link {
    font-weight: 500;
    font-size: 22px;
    line-height: 2.95;
    color: #263238;
}
.cross{
    display: block;
}

.modal-lets {
    box-sizing: border-box;
    display: block;
    max-width: 291px;
    min-height: 65px;
    padding: 17px 99px 18px;
    border: 2px solid #263238;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
}
.modal-logo span{
    color: black;
}
.container {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 320px;
    padding-left: 14px;
    padding-right: 16px;
    padding-top: 36px;
    margin: 0 auto;
}
.hero-container{
    align-items: center;
    position: relative;
    max-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 36px;
    margin: 0 auto;
}

.learnb{
    text-align: center;
    font-weight: 600;
font-size: 24px;
line-height: 1.6;
margin-left:40px ;
margin-right: 40px;

}
.promo {
    font-weight: 400;
    font-size: 14px;
text-align: center;
margin-left: 4px;
margin-right: 4px;

color: #8F95A5;

}
.learnb::after{
    content: "";
    display: none;
    background: url(./images/light.svg);
    height: 90px;
    width: 90px;
    fill: #000000;
}
.strtbtn {
    font-weight: 500;
    font-size: 16px;
    padding: 18px 99px;
    color: #FFFFFF;
    background: #263238;
    border-radius: 5px;
    margin: 0 4px 0 10px;
}
@media screen and (min-width:575px){
    .container{
        max-width: 575px;
        padding-left: 32px;
        padding-right: 50px;
        padding-top: 39px;
    }
    .hero-container{
        max-width: 575px;
        padding-left: 42px;
        padding-right: 42px;  
    }
    .lenpic{
        width: 424px;
        height: 424px;
        margin: 0 36px;
    }
    .learnb{
        width: 491px;
        font-weight: 600;
        font-size: 34px;
        margin: 0;
    }
    .promo{
        margin-top:26px ;
        font-size: 16px;
        width: 486px;
    }
    .strtbtn{
        font-size: 18px;
        padding: 24px 101px;
        margin: 0 93px;
        margin-top: 37px;
        width: 305px;
    }
    .btn{
        top: 50px;
        right: 50px;
    }
    .logo, .modal-logo{
        font-size: 30px;
    }
    .burger{
        width: 42px;
        height: 24px;
    }
    .modal {
        padding-top: 48px;
        padding-right: 32px;
        padding-left: 33px;
    }
    .modal-btn{
        right: 87px;
        top: 50px;
    }
    .cross{
        width: 39px;
        height: 39px;
    }
    .modal-nav-menu {
        margin-top: 35px;
    }
    .modal-lets{
        max-width: 330px;
        height: 70px;
        font-size: 22px;
        padding: 18px 114px 18px 115px;
    }
}
@media screen and (min-width:768px){
    .container{
        max-width: 768px;
        padding-left: 39px;
        padding-right: 39px;
        padding-top: 39px;
    }
    .hero-container{
        display: flex;
        gap: 20px;
        flex-direction: row-reverse;
        max-width: 768px;
        padding-left: 39px;
        padding-right: 17px;
    }
    .lenpic{
        width: 352px;
        height: 352px;
        margin: 0 0 36px;
    }
    .learnb{
        margin-top: 28px;
        font-weight: 600;
        font-size: 36px;
        width: 217px;
        height: 135px;
        line-height: 1.2;
        text-align: left;
    }
    .learnb span{
        display: block;
    }
    .learnb::after{
        position: absolute;
        display: block;
        width: 90px;
        height: 90px;
        transform: translate(240%, -100%);
    }
    .promo{
        margin-top: 25px; 
        margin-bottom: 0;
        width: 338px;
        margin-left: 0;
        text-align: left;
    }
    .strtbtn{
        width: 236px;
        margin: 0;
        font-weight: 400;
        padding: 19px 67px;
        margin-top: 32px;
    }
    .btn{
        top: 53px;
        right: 39px;
    }
    .burger{
        width: 30px;
        height: 17px;
    }
    .modal {
        width: 429px;
        padding-top: 39px;
        padding-right: 39px;
        padding-left: 26px;
    }
    .modal-nav-menu{
        margin-bottom: 80px;
    }
    .modal-btn{
        right: 87px;
        top: 40px
    }
}
@media screen and (min-width:992px){
    .container{
        max-width: 992px;
        padding-left: 31px;
        padding-right: 31px;
        padding-top: 25px;
    }
    .hero-container{
        gap: 57px;
        max-width: 992px;
        padding-top: 76px;
        padding-left: 30px;
        padding-right:20px ;
    }
    .lenpic{
        width: 460px;
        height: 460px;
        margin: 0;
    }
    .learnb{
        font-weight: 600;
        font-size: 48px;
        width: 290px;
        height: 192px;
    }
    .learnb::after{
        transform: translate(320%, -100%);
    }
    .promo{
        width: 421px;
        font-size: 20px;
    }
    .strtbtn{
        width: 292px;
        height: 80px;
        font-size: 24px;
        padding: 27px 78px;
        margin-top: 55px;
    }
    .btn{
        display: none;
    }
    .nav{
        display: flex;
    }
}

@media screen and (min-width:1600px){
    .container{
        max-width: 1600px;
        padding-right: 131px;
        padding-left: 131px;
        padding-top: 55px;
    }
    .hero-container{
        max-width: 1600px;
        padding: 0 131px;
        margin-top: 63px;
        gap: 145px;
    }
    .lenpic{
        width: 654px;
        height: 510px;
    }
    .learnb{
        font-size: 64px;
        width: 386px;
        height: 240px;
        margin: 0;
    }
    .learnb::after{

        transform: translate(450%,-130%);
    }
    .promo{
        width: 540px;
        height: 108px;
        font-size: 24px;
    }
    .strtbtn{
        width: 426px;
        height: 100px;
        font-size: 36px;
        padding: 23px 102px;
    }
    .nav-menu {
        gap: 50px;
        margin-left: 236px;
        margin-right: 121px;
    }
    .logo{
        font-size: 36px;
    }
    .nav-link{
        font-size: 20px;
    }
    .lets{
        display: block;
        width: 312px;
        height: 70px;
        padding: 20px 56px;
        border-radius: 10px;
        font-size: 20px;
    }
}